* {
    font-family: "Montserrat";
}

h1 {
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 16px 0;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    background-color: #F8B449;
    color: #fff;
    padding: 10px 16px;
    border-radius: 20px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 128px;

}

#header h1 {
    margin: 0px;
}

#logoheader {
    display: flex;
    width: 51px;
    height: 50px;
    align-items: center;
    flex-shrink: 0;
}

#logofooter {
    display: flex;
    width: 77px;
    height: 75px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}